<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
  	<meta name="generator" content="Adobe GoLive 4">
  	<title>Turco Brothers Jewelers</title>
  	<meta name="author" content="Turco Brothers Jewelers">
  	<meta name="keywords" content="custom jewelry designs">
  	<meta name="description" content="At Turco Brothers Jewelers, you can choose from some of the highest quality and one of a kind hand made jewelry designs">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
